.secao_depoimentos {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.subtitulo {
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.subtitulo span {
    font-weight: 500;
}

.container_depoimentos {
    max-width: 1024px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;
}