.secao_localizacao {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.secao_localizacao div {
    padding: 0 20px;
}

.secao_localizacao div h2 {
    line-height: 50px;
    padding-bottom: 20px;
}

.subtitulo {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.subtitulo span {
    font-weight: 500;
}